<mat-card fxFlex>
  <mat-card-title>
    Departments Form
  </mat-card-title>
  <mat-card-content>
    <div fxLayout="column" fxLayoutAlign="space-between">
        <mat-form-field>
            <input matInput [(ngModel)]="depName" (keyup.enter)="save()">
            <mat-hint>The partment name</mat-hint>
        </mat-form-field>
        <div fxLayout-row fxLayoutAlign="end end">
            <button  mat-button color="primary" (click)="save()">Save</button>
            <button  mat-button color="warn" (click)="cancel()">Cancela</button>
        </div>
    </div>
    <mat-list>
      <h3 mat-subheader>Departments</h3>
      <mat-list-item *ngFor="let dp of departments">
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line>{{dp.name}}</h4>
        <button mat-icon-button color="primary" (click)="edit(dp)">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="delet(dp)">
            <mat-icon>delete</mat-icon>
        </button>        
      </mat-list-item>
    </mat-list>
  </mat-card-content>    
</mat-card>