<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>HTTP Client</span>
    </mat-toolbar-row>
  </mat-toolbar>
  
  
  <mat-card>
      <div fxLayout="row" fxLayoutAlign="space-between stretch">
        <app-department fxFlex="40"></app-department>
        <app-product fxFlex="55"></app-product>  
      </div>
  </mat-card>

